body {
    font-family: 'Rubik';
    font-weight: 100;
}

/* header */
header {
    background-color: #1f2937;
    color: white;
    height: 50px;
    min-width: auto;
}

header a {
    color: #e5e7eb; 
    font-style: normal;
    text-decoration: none;
}

/* general flexcontainer */
.container{
    height: inherit;
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1 0 0;
    margin-inline: 50px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

/* main and hero */
main .container > div {
    /* background-color: aquamarine; */
}

main {
    background-color: #1f2937;
    height: 400px;
}

main .container h2 {
    font-size: 48px;
    color: #f9faf8;
}

main .container p {
    font-size: 18px;
    color: #e5e7eb;
    overflow:hidden
}

main .container figure{
    width: 200px;
    height: 250px;
    background-color: rgb(109, 131, 124);
}

.hero{
    flex: 1;
    
}

.hero2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

/* button style to all doc */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.button:hover {
    background-color: #449947;
}

.button:active{
    background-color: #1f2937;
}

/* article */
.container2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
}

/* 'some more information' */
.some{
    margin: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

/* blue blocks to put an img */
.image-holder {
    width: 180px;
    height: 180px;
    border: 6px solid rgb(51, 124, 124);
    border-radius: 10%;
}

.image-holder p {
    align-self: flex-end;
    text-align: center;
    margin-top: 10px;
}

.image-holder img{
    width: 180px;
    height: 180px;
    border-radius: 10%;
}

/* quote */
blockquote {
    margin-top: 100px;
    box-sizing: border-box;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;

    padding-inline: 250px;
    padding-top: 80px;
    padding-bottom: 60px;

    min-height: 400px;
    width: 100%;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* quote author*/
.author {
    text-align: right;
}

/* call to action part */
article[class='container']{
    /* width: 100%;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-to {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    background-color: #3882f6;
    color: #fff;
    min-width: 80vw;
    min-height: 15vh;
    border: 19px solid #3882f6;
    border-radius: 20px;
}

.call-to h2 {
    font-size: 24px;
    font-weight: bolder;
}

.call-to p {
    font-size: 18px;
}

/* footer */
footer {
    background-color: #1f2937;
    color: #fff;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}